.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.vscode/extensions.json
Block_diagram.jpg
Block_Diagram.vsdx
Diagram_BLOCK.pdf
platformio.ini
opt_iso_board.jpg
Kicad/opt_iso_board/~opt_iso_board.kicad_pcb.lck
Kicad/opt_iso_board/opt_iso_board.kicad_sch
Kicad/opt_iso_board/opt_iso_board.kicad_pro
Kicad/opt_iso_board/opt_iso_board.kicad_prl
Kicad/opt_iso_board/opt_iso_board.kicad_pcb
Kicad/opt_iso_board/opt_iso_board-backups/opt_iso_board-2024-10-07_140822.zip
Kicad/opt_iso_board/opt_iso_board-backups/opt_iso_board-2024-10-07_135237.zip
Kicad/opt_iso_board/opt_iso_board-backups/opt_iso_board-2024-10-07_134231.zip
Kicad/opt_iso_board/opt_iso_board-backups/opt_iso_board-2024-10-07_133222.zip
Kicad/opt_iso_board/opt_iso_board-backups/opt_iso_board-2024-10-07_131821.zip
Kicad/opt_iso_board/fp-info-cache
Kicad/opt_iso_board.png
.vscode/settings.json
src/main.cpp
